@media screen and (max-width: 1023px) {
    /* .button.fullwidthwhenmobile {
        width: 100%
    } */

    .fullwidthwhenmobile {
        flex: none;
        width: 100%;
    }

    /* .file.inv-file-responsive {
        font-size: 1.0rem;
    } */
}

@media screen and (min-width: 1024px) {
    /* .file.inv-file-responsive {
        font-size: 1.5rem;
    } */
}

.inv-line {
    border: 1px solid;
    border-color: #eff1fa;
}

.inv-basis-cont {
    flex-basis: 60%;
}

.badge {
    /* background: rgba(0, 0, 0, 0.5); */
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 43px;
    padding: 0px;
}

table.table td {
    vertical-align: middle;
}